.bd {
	padding-bottom: 120px;
}

.bullet {
	width: 929px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	position: relative;
}

/* div.bullet > div {
	margin: 33px 0 0;
} */

div.left {
	background-image: url(./../../assets/rxns/leftbullet.png);
	justify-content: center;
}

div.right {
	background-image: url(./../../assets/rxns/rightbullet.png);
}

div.left,
div.right {
	width: 355px;
	height: 100px;
	background-size: cover;
	display: flex;
	align-items: center;
	font-weight: 800;
	text-indent: 100px;
	font-size: 25px;
	line-height: 37px;
	color: #000;
	margin-top: 10px;
}

.info {
	font-weight: 500;
	font-size: 15px;
	line-height: 37px;
	text-transform: lowercase;
	text-align: center;
}

.temp {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.temp > img {
	width: 100px;
	height: 100px;
}

.temp > p {
	font-weight: 800;
	font-size: 40px;
	line-height: 60px;
}
