div.sexrch {
	display: flex;
	align-items: center;
	justify-items: center;
	flex-direction: column;
}
.search {
	margin: 30px auto;
	display: flex;
	align-items: center;
	justify-items: center;
	position: relative;
	flex-direction: column;
}
.searchbox {
	width: 350px;
	height: 50px;
	background-color: #fed4d4;
	border-radius: 100px;
	font-weight: 600;
	font-size: 20px;
	padding: 0 50px 0 20px;
	text-transform: lowercase;
	color: black;
	outline: none;
	border: none;
}

.searchbox::selection {
	background-color: #4dcfe0;
}

.sub-btn {
	position: absolute;
	left: 400px;
	width: 50px;
	height: 50px;
	border: none;
	background-image: url(./../../assets/rxns/search.png);
	background-size: cover;
	border-radius: 0px 50px 50px 0px;
}

@media only screen and (max-width: 500px) {
	.searchbox {
		width: 300px;
	}
	.sub-btn {
		left: 350px;
	}
}
